private_dir: /Users/yourname/dotfiles_private
backup_dir: /Users/yourname/dotfiles_backup
files:
  - zshrc
  - vimrc
  - vim
  - tmux.conf
private_files:
  - zshrc.private
plugins:
  autoload: git://github.com/paulnicholson/vim-pathogen.git
  gist: git://github.com/mattn/gist-vim.git
  surround: git://github.com/tpope/vim-surround.git
  markdown: git://github.com/tpope/vim-markdown.git
  vim_rails: https://github.com/tpope/vim-rails.git
  bufexplorer: https://github.com/corntrace/bufexplorer.git
  supertab: https://github.com/ervandew/supertab.git
  nerdtree: https://github.com/scrooloose/nerdtree.git
  nerdcommenter: https://github.com/scrooloose/nerdcommenter.git
  delimit_mate: https://github.com/Raimondi/delimitMate.git
  nerdtree: https://github.com/scrooloose/nerdtree.git
  fugitive: https://github.com/tpope/vim-fugitive.git
  ag: git@github.com:rking/ag.vim.git
  slim: git@github.com:slim-template/vim-slim.git
  coffee: https://github.com/kchmck/vim-coffee-script.git
  unimpaired: https://github.com/tpope/vim-unimpaired.git
  less: https://github.com/groenewege/vim-less.git
  endwise: https://github.com/tpope/vim-endwise.git
  mustache: https://github.com/juvenn/mustache.vim.git
  ruby: git://github.com/vim-ruby/vim-ruby.git
  powerline: git@github.com:Lokaltog/vim-powerline.git
  ctrlp: git@github.com:kien/ctrlp.vim.git
  scala: git@github.com:derekwyatt/vim-scala.git
  vim_conque: git@github.com:austenito/vim-conque.git
  ruby_conque: git@github.com:austenito/vim-ruby-conque.git
  scratch: git@github.com:duff/vim-scratch.git
  startify: git@github.com:mhinz/vim-startify.git
  tabman: git@github.com:kien/tabman.vim.git
  tabline: git@github.com:mkitt/tabline.vim.git
  yankring: git@github.com:vim-scripts/YankRing.vim.git
  webapi-vim: https://github.com/mattn/webapi-vim.git
